@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import "tailwindcss";

@theme {
  --color-zesty-orange: #FF6B00;
  --color-bubbly-teal: #00C2A8;
  --color-background-cream: #FDFDFA;
  --color-text-dark-blue: #2A3D45;
  --color-soft-gray: #EAEAEA;

  --font-sans: "Fredoka One", cursive;
  
  --animate-bounce-slow: bounce 3s infinite;
}

@layer base {
  body {
    @apply bg-background-cream text-text-dark-blue font-sans overflow-hidden select-none;
  }
}

.tray-scroll::-webkit-scrollbar {
  height: 8px;
}
.tray-scroll::-webkit-scrollbar-track {
  background: #EAEAEA;
  border-radius: 4px;
}
.tray-scroll::-webkit-scrollbar-thumb {
  background: #00C2A8;
  border-radius: 4px;
}
